.container-banner{
    background-image: url(../static/banner/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-titulo{
    background: var(--gradiant-banner);
    border-radius: 10px;
    color: var(--color-blanco);
    font-size: 48px;
    width: 40%;
    margin-left: 5%;
}

.banner--boton{
    text-decoration: none;
    background: var(--gradiant-banner);
    border-radius: 10px;
    color: var(--color-blanco);
    cursor: pointer;
    font-size: 20px;
    width: 15%;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
}

