.container-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.container--descripcionTienda{
    width: 33.33%;
}

.container--LogoTienda{
    width: 33.33%;
}

.logo{
    width: 25%;
}

.container-header--login{
    width: 33.33%;
}

.header--login{
    border: 1px solid var(--color-celeste);
    color: var(--color-celeste);
    cursor: pointer;
    font-size: 16px;
    padding: 16px 60px;
    text-decoration: none;
}
