.container-header{
    align-items: center ;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    width: 100%;
}

.container-header--logoBuscador{
    align-items: center;
    display: flex;
}

.logo{
    width: 15%;
}

.header-buscador{
    border: none;
    font-size: 1rem;
    padding: 2%;
    width: 40%;
}

.header--login{
    border: 1px solid var(--color-celeste);
    color: var(--color-celeste);
    cursor: pointer;
    font-size: 16px;
    padding: 16px 60px;
    text-decoration: none;
}
