.container-header{
    display: flex;
    width: 100%;
    align-items: center ;
    justify-content: space-around;
    padding: 1%;
}

.container-header--logoBuscador{
    display: flex;
    align-items: center;
}

.logo{
    width: 15%;
}

.header-buscador{
    width: 40%;
    font-size: 1rem;
    padding: 2%;
    border: none;
}

.header--login{
    padding: 16px 60px;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    font-size: 16px;
    color: #2A7AE4;
    text-decoration: none;
    
}
