.container--marca{
    margin: 2% 5%;
}

.container--titulo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.container-main--productos{

    display: flex;
    gap: 0.5%;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo--seccion{
    font-size: 30px;
}

.titulo--seccion--paraTodos{
    font-size: 25px;
    text-decoration: none;
}

.container-producto{
    margin-bottom: 3%;
}

.producto-cuerpo__titulo{
    font-size: 13px;
}

.producto-boton{
    margin-top: 3%;
}

/*-------------------*/

.container__informacion{
    display: flex;
    background: #EAF2FD;
    margin-top: 2%;
}

.container__informacion--logo--info{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.container__informacion--logo{
    width: 50%;
}

.container--informacion{
    line-height: 70px;
}

.titulo{
    font-weight: bold;
}

.informacion--descripcion{
    text-decoration: none;
    color: #464646;
}


/*---------*/

.contacto__formulario--container{
    width: 80%;
}
.container--formulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    margin-bottom: 4%;
}

.form__submit{
    margin-top: 4%;
}


/* -------------PAGINA DE LOGIN------------------------*/

.formulario{
    width: 100%;
}

.container--formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 32%;
}

.tituloLogin{
    text-align: center;
    margin-bottom: 4%;
    font-size: 20px;
}

.form__submitLogin,.form__submitRegistro{
    width: 100%;
}

.form__submitLogin{
    margin-top: 4%;
}

.tituloLoginOpcion{
    text-align: center;
    margin: 3%;
    font-size: 20px;
}