.container__footer{
    width: 100%;
}

.container__footer--autor{
    text-align: center;
}

.container__footer--redes{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo--git,.logo-linkedin{
    font-size: 40px;
    /* padding: 3px;
    border: 2px solid black;
    border-radius: 25px; */
}
.logo--git{
    margin-right: 1%;
}